TP1_WebServices/WebContent/wsdl/Temperature.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://formation.m2i.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://formation.m2i.com" xmlns:intf="http://formation.m2i.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://formation.m2i.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getFahrenheit">
    <complexType>
     <sequence>
      <element name="celsius" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getFahrenheitResponse">
    <complexType>
     <sequence>
      <element name="getFahrenheitReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCelsius">
    <complexType>
     <sequence>
      <element name="fahrenheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCelsiusResponse">
    <complexType>
     <sequence>
      <element name="getCelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCelsiusRequest">

      <wsdl:part element="impl:getCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCelsiusResponse">

      <wsdl:part element="impl:getCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFahrenheitRequest">

      <wsdl:part element="impl:getFahrenheit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFahrenheitResponse">

      <wsdl:part element="impl:getFahrenheitResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Temperature">

      <wsdl:operation name="getFahrenheit">

         <wsdl:input message="impl:getFahrenheitRequest" name="getFahrenheitRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFahrenheitResponse" name="getFahrenheitResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCelsius">

         <wsdl:input message="impl:getCelsiusRequest" name="getCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCelsiusResponse" name="getCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureSoapBinding" type="impl:Temperature">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getFahrenheit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFahrenheitRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFahrenheitResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureService">

      <wsdl:port binding="impl:TemperatureSoapBinding" name="Temperature">

         <wsdlsoap:address location="http://localhost:8080/TP1_WebServices/services/Temperature"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
