TP_Exo_WebService/WebContent/wsdl/Personne.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://formation.m2i.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://formation.m2i.com" xmlns:intf="http://formation.m2i.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://formation.m2i.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPoids">
    <complexType>
     <sequence>
      <element name="taille" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPoidsResponse">
    <complexType>
     <sequence>
      <element name="getPoidsReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPoidsResponse">

      <wsdl:part element="impl:getPoidsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPoidsRequest">

      <wsdl:part element="impl:getPoids" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Personne">

      <wsdl:operation name="getPoids">

         <wsdl:input message="impl:getPoidsRequest" name="getPoidsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPoidsResponse" name="getPoidsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonneSoapBinding" type="impl:Personne">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPoids">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPoidsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPoidsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonneService">

      <wsdl:port binding="impl:PersonneSoapBinding" name="Personne">

         <wsdlsoap:address location="http://localhost:8080/TP_Exo_WebService/services/Personne"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
